/*custom by dev*/
.error{
    color:red;
}

.custom-color{
	color:#444 !important;
}
.hover-cursor{
	cursor:pointer;
}
.star-yellow{
	color:#008040;
}

.val-star{	
        color:#c9302c;
}

.clear{
	clear:both;
}	


.cus-ul-li-border
{
	border-bottom:1px solid #dedede;
	padding: 4px;
}

.textarea{
	width: 100%;
	height: 80px;
}
/*color text ck-editor*/ 
    .cke_dialog_ui_input_text,cke_contents cke_reset
    {
        color:black;
    }
    .cke_reset_all textarea, .cke_reset_all input[type="text"]
    {
         color:black;  
    }